@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {

  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer utilities {
  .home {
    background-image: url("/images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wait {
    background-image: url("/images/wait.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .confirmation {
    background-image: url("/images/confirmation.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .rain {
    background-image: url("/images/rain.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
